@import url("main-card.keyframes.css");

.main-card {
    /* left: calc(50vw - 0.5 * var(--w));
    top: calc(50vh - 0.5 * var(--h)); */
}

.main-card__inner {
    font-size: 12px;
    height: 100%;
}

.main-card__name,
.main-card__birth {
    font-size: 2.5em;
    font-style: normal;
    margin: 0;
    text-transform: uppercase;
}

.main-card__name::before,
.main-card__birth::before {
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    white-space: pre;
}

.main-card__name--surname::before {
    content: "Name/Surname/Nom";
}

.main-card__name--name::before {
    content: "Vornamen/Given names/Prénoms";
}

.main-card__birth::before {
    content: "Geburtstag/Date of Birth/\A Date de naissance";
}

.main-card__toggle {
    background-color: green;
    opacity: 0;
    position: absolute;
}

.main-card__return-to-main {
    display: none;
    visibility: collapse;
}

.main-card--minimized .main-card__return-to-main {
    display: block;
    left: 52px;
    opacity: 0;
    pointer-events: none;
    position: relative;
    text-align: center;
    top: -49px;
    transition: opacity 0.5s;
    visibility: visible;
    width: 80px;
}

/* TODO line breaks differently without breaking line length 75? */
.main-card--text-invisible .main-card__inner :not(
.main-card__image
):not(
.main-card__return-to-main
):not(
.main-card__button--projects
) {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: collapse;
}

.main-card--text-invisible .main-card__inner .main-card__button--projects {
    opacity: 0;
}
