@keyframes main-card--to-minimized {
    0% {
        height: var(--h);
        margin-top: 0;
        width: var(--w);
    }

    100% {
        height: calc(0.14 * var(--w));
        margin-top: calc(0.04 * var(--w));
        width: calc(0.28 * var(--w));
    }
}

@keyframes main-card--from-minimized {
    0% {
        height: calc(0.14 * var(--w));
        margin-top: calc(0.04 * var(--w));
        width: calc(0.28 * var(--w));
    }

    100% {
        height: var(--h);
        margin-top: 0;
        width: var(--w);
    }
}

@keyframes main-card__inner--to-minimized {
    0% {
        padding-top: 4%;
    }

    100% {
        padding-top: 2%;
    }
}

@keyframes main-card__inner--from-minimized {
    0% {
        padding-top: 2%;
    }

    100% {
        padding-top: 4%;
    }
}

@keyframes main-card__inner--to-text-visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes main-card__image--to-minimized {
    0% {
        height: 100%;
    }

    100% {
        height: 10px;
    }
}

@keyframes main-card__image--from-minimized {
    0% {
        width: 45px;
    }

    100% {
        width: 100%;
    }
}
