@import url("main-container.keyframes.css");

.main-container {
    height: var(--h);
    left: calc(50vw - 0.5 * var(--w));
    position: absolute;
    top: calc(50vh - 0.5 * var(--h));
    width: var(--w);
    z-index: -2;
}

.main-container--maximized {
    animation: main-container--to-maximized 0.5s both;
}

.main-container:not(.main-container--maximized):not(
.main-container--initial) {
    animation: main-container--from-maximized 0.5s both;
}

.main-container--maximized .main-container__projects {
    animation: main-container__projects--to-maximized 0.5s both;
    visibility: visible;
}

/* .main-container--maximized .main-container__projects .main-container__projects-title-bar { */
.main-container--maximized .main-container__projects-title-bar {
    animation: main-container__projects-title-bar--to-maximized 0.5s both;
}

