.card--projects__background {
    --__bg-size: var(--_bg-size, var(--_w) auto);
    --_pos: var(--projects--scroll-top, 0) 0;

    background-image:
        radial-gradient(
            circle at
            calc(
                var(--card__inner--mouse-shadow-left, -100%)
                / var(--_hover-scale)
            )
            calc(
                var(--card__inner--mouse-shadow-top, -100%) /
                var(--_hover-scale)
            ),
            var(--_c0) 0,
            var(--_c1) calc(0.1 * var(--_w))
        );

    -webkit-mask: 
        var(--_card-background) repeat 
        var(--_pos) /
        var(--__bg-size);
    mask:
        var(--_card-background) repeat 
        var(--_pos) /
        var(--__bg-size);
    -webkit-mask-composite: xor;
    mask-composite: subtract;
}

@media screen and (orientation: portrait) {
    .card--projects__background {
        --_projects--orientation-a: calc(var(--projects--orientation-a, 0) * 50px);
        --_projects--orientation-b: calc(var(--projects--orientation-b, 0) * 50px);
        --_projects--orientation-c: calc(var(--projects--orientation-c, 0) * 50px);

        --_pos: var(--_projects--orientation-a) var(--_projects--orientation-b);
    }
}

.card--projects__background--portfolio {
    --_card-background: url("/blocks/card/card--projects__background/goldstein web.svg");
    --_bg-size: calc(0.3 * var(--_w)) auto;
}

.card--projects__background--cosia {
    --_card-background: url("/blocks/card/card--projects__background/cosia.svg");
    --_bg-size: calc(0.3 * var(--_w)) auto;
}



.card--projects__background--bemdoc-gen {
    --_card-background: url("/blocks/card/card--projects__background/bemdoc-gen.svg");
    --_bg-size: calc(0.3 * var(--_w)) auto;
}

.card--projects__background--sincos {
    --_card-background: url("/blocks/card/card--projects__background/sincos.svg");
    --_bg-size: calc(0.3 * var(--_w)) auto;
}

.card--projects__background--cyp {
    --_card-background: url("/blocks/card/card--projects__background/cyp.svg");
    --_bg-size: calc(var(--_w)) auto;
}

.card--projects__background--todograph {
    --_card-background: url("/blocks/card/card--projects__background/todograph.svg");
    --_bg-size: calc(0.5 * var(--_w)) auto;
}

.card--projects__background--bfs {
    --_card-background: url("/blocks/card/card--projects__background/bfs.svg");
    --_bg-size: calc(0.75 * var(--_w));
}

.card--projects__background--empty {
    --_card-background:
        repeating-linear-gradient(
            45deg,
            var(--c1) 0,
            transparent 40px,
            var(--c1) 80px
        );
    --_bg-size: 114px;
}