.projects {
    opacity: 0;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: right top;
}

.projects__inner {
    backface-visibility: hidden;
    max-height: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    scrollbar-color: var(--c1) var(--c0);
    scrollbar-width: thin;
    width: 100%;
}

.projects__inner::-webkit-scrollbar {
    width: 0.5em;
}

.projects__inner::-webkit-scrollbar-track {
    background-color: var(--c0);
}

.projects__inner::-webkit-scrollbar-thumb {
    background-color: var(--c1);
    outline: none;
}

.projects__project-card {
    background-position: 0 var(--projects--scroll-top);
    height: var(--w);
    margin-bottom: 10px;
    margin-left: calc(50vh - 0.5 * var(--h) - 60px);
    width: var(--h);
}

.projects__project-card .card--projects__background {
    background-position: var(--projects--scroll-top) 0;
}

.projects__project-card:last-of-type {
    margin-bottom: 0;
}

.projects__title-bar {
    display: flex;
    flex-wrap: nowrap;
    height: calc(0.15 * var(--w));
    justify-content: flex-start;
    position: absolute;
    right: calc(1px - (100vw - 0.3175 * var(--w)));
    top: calc(0.26 * var(--w));
    transform: rotate(90deg);
    transform-origin: top left;
    width: calc(100vw - 0.3 * var(--w));
    z-index: 1;
}

.projects__title::before {
    content: "Titel/Title";
    display: block;
    font-size: 12px;
    text-transform: none;
}

.projects__title {
    font-size: calc(0.15 * var(--h));
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.projects__filter::before {
    content: ""; /* TODO filter text yes or no? */
    font-size: 12px;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
    white-space: pre;
}

.projects__filter {
    flex-grow: 1;
    padding: 0;
    padding-top: 20px;
    text-align: right;
}

.projects__filter:empty::before {
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.projects__filter:not(:empty)::before {
    content: "Filter:";
}
