/**
 * card for start page
 * @extends card.css
 * @tree
 * : main
 *   .card.card--main
 *     .card__inner.card--main__inner: header
 *       .card--main__image
 *       .card--main__right
 *         .card--main__qr
 *         .card--main__info
 *           .card--main__info-flex
 *             [Title]
 *             .card--main__social-links
 *           .card--main__projects-button.button
 *             [main link →]
 * @requires ../page/page.css
 */
.card--main {
    position: absolute;
    transition: width 0.5s, height 0.5s, transform 0.5s !important;
    z-index: 2;
}

.card--main__inner {
    display: grid;
    grid-column-gap: var(--_padding);
    grid-row-gap: var(--_padding);
    grid-template-areas: "logo right";
    grid-template-columns: 38.197% auto;
    transition: width 1s, height 1s !important;
}

.card--main__image {
    --_background: url("card--main__logo.svg");

    background-color: var(--_c0);
    background-size: cover;
    cursor: none;
    display: block;
    grid-area: logo;
    height: 100%;
    -webkit-mask:
        linear-gradient(black, black),
        var(--_background) no-repeat 0 0 / 100% 100%;
    mask:
        linear-gradient(black, black),
        var(--_background) no-repeat 0 0 / 100% 100%;
    -webkit-mask-composite: xor;
    mask-composite: subtract;
    width: 100%;
}

.card--main__right {
    grid-area: right;
    height: 100%;
    position: relative;
    width: 100%;
}

.card--main__info,
.card--main__qr {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s ease;
    width: 100%;
}

.card--main__info {
    display: grid;
    grid-row-gap: var(--_padding);
    grid-template-areas: "flex" "button";
    grid-template-rows: auto calc(0.12 * var(--_w));
}

.card--main__qr {
    opacity: 0;
}

.card--main__qr-img {
    background-image: url(card--main__qr-img.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.card--main__qr-img::before {
    color: var(--_c1);
    content: '<-';
    display: block;
    padding-top: var(--_padding);
    position: absolute;
    text-align: center;
    width: 100%;
}

.card--main__qr-img:hover::before {
    content: '<- zurückkehren/go back';
}

.card--main__info-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--main__title {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}

.card--main__social-links {
    display: flex;
    flex-wrap: wrap;
}

.card--main__social-links::before {
    content: 'Kontakt/Contact';
    display: block;
    width: 100%;
}

.card--main__social-link {
    margin-right: var(--_padding);
}

.card--main__social-link:last-of-type {
    margin-right: 0;
}

.card--main__social-link--github {
    --button--background: url("../../img/GitHub.svg");
}

.card--main__social-link--web {
    --button--background: url("../../img/internet.svg");
}

.card--main__social-link--scratch {
    --button--background: url("../../img/Scratch.svg");
}

.card--main__social-link--qr {
    --button--background: url("../../img/QR%20icon.svg");
}

.card--main__social-link--tel {
    --button--background: url("../../img/tel.svg");
}

.card--main__social-link--mail {
    --button--background: url("../../img/E-Mail.svg");
}

/* for specific pages */

/* QR page */
#to-qr:target ~ * .card--main__qr {
    opacity: 1;
}

#to-qr:target ~ * .card--main__info {
    opacity: 0;
    pointer-events: none;
}

/* projects page */
#to-projects:target ~ * .card--main {
    /*
      TODO: These variable thing ugly and don't update if the definitions
      in card.css change. Find a way to change that.
    */
    --_padding:
        calc(
            0.5 * var(--card--padding, calc(0.02 * var(--w, 500px)))
        );

    height: calc(0.25 * var(--h));
    width: calc(0.25 * var(--w));
}

#to-projects:target ~ * .card--main__info {
    opacity: 0;
    pointer-events: none;
    transition: none;
}

@media screen and (orientation: portrait) {
    .card--main__inner {
        grid-template-areas: "logo" "right";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #to-projects:target ~ * .card--main {
        height: calc(0.15 * var(--_h));
        width: calc(0.15 * var(--_w));
    }
}
