@import url("card--projects__background/card--projects__background.css");

/**
 * @extends 'card.css'
 */

.card--projects__background {
    height: var(--_h);
    position: absolute;
    transform:
        translateX(calc(0.5 * var(--h) - 0.5 * var(--w)))
        translateY(calc(0.5 * var(--w) - 0.5 * var(--h)))
        rotate(90deg);
    width: var(--_w);
}

.card--projects__links {
    bottom: var(--project-card--padding);
    position: absolute;
    height: 25px;
    right: calc(var(--project-card--padding) + 0.5 * var(--_w));
}

.card--projects .card__inner {
    transition: clip-path 0.5s;
}

.card--projects:hover .card__inner {
    --_by: calc(var(--h) - 2 * var(--project-card--padding) - 25px);
}
