@import url("card--projects__background/card--projects__background.css");

/**
 * @extends 'card.css'
 */

.card--projects__background {
    height: var(--_h);
    position: absolute;
    transform:
        translateX(calc(0.5 * var(--h) - 0.5 * var(--w)))
        translateY(calc(0.5 * var(--w) - 0.5 * var(--h)))
        rotate(90deg);
    width: var(--_w);
}

.card--projects__links {
    bottom: var(--project-card--padding);
    height: 25px;
    position: absolute;
    right: calc(var(--project-card--padding) + 0.5 * var(--_w));
}

.card.card--projects:hover {
    transition: none;
}

.card--projects:hover .card__inner {
    --_by: calc(var(--h) - 2 * var(--project-card--padding) - 25px);
}

@media screen and (orientation: portrait) {
    .card--projects {
        height: var(--_h);
        width: auto;
    }

    .card--projects__background {
        clip-path: none !important;
        height: calc(0.85 * var(--_w) - 2 * var(--project-card--padding));
        position: absolute;
        transform: none;
        width: 100%;
    }

    .card--projects__inner {
        height: var(--_h);
        width: auto;
    }

    .card--projects__links {
        position: static;
    }

    .card--projects:hover .card__inner {
        --_by: calc(0.85 * var(--_w) - 2 * var(--project-card--padding));
    }
}
