@import url("card--main.css");
@import url("card--projects.css");

/**
 * standard card that can hold any content
 * @tree
 *   .card
 *     .card__inner
 *       [card content]
 * @variable {length} [--w=500px] width
 * @variable {length} [--h=calc(var(--w) * 0.618033988)] height
 * @variable {color} [--c0=black] foreground/text color
 * @variable {color} [--c1=lightgrey] background color
 * @variable {[length|percentage]{1,4}} [--card--padding=calc(0.02 * var(--_w, 500px))] padding
 * @variable {bg-image} [--card--additional-background-image=none] background image for the whole card
 * @variable {number} [--card--hover-scale=1.025] size relative to original size of card at hover
 * @variable {length} [--card__inner--mouse-shadow-left=-100%] y mouse position on the card. Usually set automatically by included js
 * @variable {length} [--card__inner--mouse-shadow-top=-100%] x mouse position on the card. Usually set automatically by included js
 * @todo mouse shadow position manual setting doesn't work
 * @requires ../page/page.css
 */
.card {
    /* local private vars */
    --_w: var(--w, 500px);
    --_h: var(--h, calc(var(--_w) * 0.618033988));
    --_c0: var(--c0, black);
    --_c1: var(--c1, lightgrey);
    --_padding: var(--card--padding, calc(0.02 * var(--_w, 500px)));
    --_add-background: var(--card--additional-background-image, none);
    --_hover-scale: var(--card--hover-scale, 1.025);

    height: var(--_h);
    width: var(--_w);
    backface-visibility: hidden;
}

.card__inner {
    background-color: var(--_c1);
    background-image: var(--_add-background);
    box-sizing: border-box;
    color: var(--_c0);
    height: 100%;
    line-height: 1;
    max-height: var(--_h);
    max-width: var(--_w);
    padding: var(--_padding);
    transition: box-shadow 0.5s;
    width: 100%;
}

.card:hover {
    transform: scale(var(--_hover-scale));
    transition: transform 0.5s;
    z-index: 100;
}

.card__inner:hover,
.card:hover .card__inner {
    background-image:
        var(--_add-background),
        radial-gradient(
            circle at
            calc(
                var(--card__inner--mouse-shadow-left, -100%)
                / var(--_hover-scale)
            )
            calc(
                var(--card__inner--mouse-shadow-top, -100%) /
                var(--_hover-scale)
            ),
            var(--_c0) 0,
            transparent calc(0.1 * var(--_w))
        );
    box-shadow: 0 0 calc(0.1 * var(--_w)) 0 var(--_c1);
}

.card__inner ::selection {
    background: var(--_c0);
    color: var(--_c1);
}

.card__inner ::-moz-selection {
    background: var(--_c0);
    color: var(--_c1);
}

.card__title {
    font-size: calc(0.0225 * var(--_w));
    font-weight: 300;
    margin: 0;
}

@media screen and (orientation: portrait) {
    .card {
        --_hover-scale: 1;
    }

    .card__inner {
        max-height: 100%;
        transform: none !important;
    }

    .card__title {
        font-size: calc(0.0325 * var(--_w));
    }
}
